.posh{
	background: #646464;
}

.back
{
	fill: #646464;
}

.kf 
{
	fill: #eeeeee;
	stroke-width: 7;
	stroke: #00000000;
}

.kf:hover 
{
	fill: #aaaaaa;
	stroke-width: 7;
	stroke: #aaaaaa;
}

.selected 
{	
	fill: #aaaaaa;
}

.front
{
	fill: #FFFFFF;
	fill-opacity: 1;
}

path
{
	stroke: #FFFFFF;
	stroke-width: 2;
	stroke-opacity: 1;
	vector-effect: non-scaling-stroke;
	pointer-events: none;
}

.middle
{
	fill: #808080;
	fill-opacity: 1;
}

#_Overlays_Selection
{
	fill: #FFFFFF;
	fill-opacity: 0.1;
}

#_Overlays_Timebar
{
	stroke: #000000;
	cursor: col-resize;
}

#_Ruler_1_PanZoom_LoopRegion
{
	fill: #959595;
}

.sizebar
{
	cursor:row-resize;
	fill: #cccccc;
}

.trackfont
{
	font-family: "Lucida Console";
	fill: #959595;	
}

.time
{
	font-family: "Lucida Console";
	fill: #000000;	
	pointer-events: none;
}

.menu
{
	fill: #646464; 
}

.menu:hover 
{
	fill: #959595;
}

.menufont
{
	font-family: "Lucida Console";
	fill: #ffffff;
	pointer-events: none;
}