.posh
{
	background: #646464;
}

.kf 
{
	fill: #ffffff;
	stroke-width: 7;
	stroke: #00000000;
}

.kf:hover 
{
	fill: #959595;
	stroke-width: 7;
	stroke: #959595;
}

.ckf 
{
	stroke-width: 5;
	stroke: #ffffff;
}

.ckf :hover
{
	stroke-width: 7;
	stroke: #959595;
}

.selected 
{	
	fill: #959595;
	stroke: #959595;
	stroke-width: 3;
}

.pathsel
{	
	fill: #959595;
	stroke: #959595;
	stroke-width: 3;
}

.ckf.selected 
{	
	fill: #959595;
	stroke: #959595;
	stroke-width: 10;
}

.ruler
{
	fill: #646464;
}

.button
{
	fill: #ffffff;
}

.even
{
	fill: #646464;
}

.odd
{
	fill: #646464;
}

path
{
	stroke: #ffffff;
	stroke-width: 2;
	stroke-opacity: 1;
	vector-effect: non-scaling-stroke;
	pointer-events: none;
}

.collapsed
{
	stroke-opacity: 0.2;
}

#_Overlays_Selection
{
	fill: #ffffff;
	fill-opacity: 0.1;
}

#_Overlays_Timebar
{
	fill: #000000;
	stroke-opacity: 0;
	stroke-width: 4;
	cursor: col-resize;
}

#_Overlays_Timebar:hover
{
	fill: #000000;
	stroke: #000000;
	stroke-opacity: 0.5;
	stroke-width: 4;
	cursor: col-resize;
}

#_Overlays_MouseTime
{
	stroke: #ffffff;
	stroke-opacity: 0.3;
	stroke-width: 1;
	pointer-events: none;
	shape-rendering : crispEdges;
}

#_Overlays_MouseTimeLabel
{
	fill: #ffffff;
	font-family: "Lucida Console";
	pointer-events: none;
}

.loop
{
	fill: #959595;
}

#_SizeBar
{
	fill: #404040;
}

.sizebar
{
	cursor:row-resize;
	fill: #404040;
}

.trackfont
{
	font-family: "Lucida Console";
	fill: #959595;	
}

.kffont
{
	font-family: "Lucida Console";
	fill: #ffffff;	
	pointer-events: none;
}

.time
{
	font-family: "Lucida Console";
	fill: #000000;	
	pointer-events: none;
}

.menu
{
	fill: #646464; 
}

.menu:hover 
{
	fill: #959595;
}

.menufont
{
	font-family: "Lucida Console";
	fill: #ffffff;
	pointer-events: none;
}

.labelmenufont
{
	font-family: "Lucida Console";
	fill: #ffffff;
}