.kf 
{
	fill: #eeeeee;
	stroke-width: 7;
	stroke: #00000000;
}

.kf:hover 
{
	fill: #aaaaaa;
	stroke-width: 7;
	stroke: #aaaaaa;
}

.widgetback, .widgetback ~ .widgetfore
{
	stroke-width: 1;
}

.widgetback:hover, .widgetback:hover ~ .widgetfore
{
	stroke-width: 2;
}

.selected 
{	
	fill: #aaaaaa;
}

.buttonback
{
	fill: #000000;
	fill-opacity:0;
}

.buttonback:hover, .buttonback:hover ~ .buttonfront
{
	fill: #000000;
	fill-opacity: 0.1;
}

.back
{
	fill: #646464;
	fill-opacity: 1;
}

.front
{
	fill: #FFFFFF;
	fill-opacity: 1;
}

.sfront
{
	stroke: #FFFFFF;
	stroke-opacity: 1;
}

.middle
{
	fill: #808080;
	fill-opacity: 1;
}

.wback
{
	fill: #646464;
	fill-opacity: 1;
}

.wback:hover 
{
	fill: #808080;
	fill-opacity: 1;
}

.selection
{
	fill: #FFFFFF;
	fill-opacity: 0.1;
}
